Borusevych
<header class="header">

    <nav class="navbar">
        <div class="navbar-container container">
            <input type="checkbox" name="" id="">
<!-- У родині скелетів народився син - назвали Костян -->
            <ul class="menu-items">
                <li><a href="#home">Home</a>-----------</li>
                <li><a href="#">Anna Yarmolenko</a></li>
                <li><a href="#">Коля Несміянов</a></li>
                <li><a href="#ourJournal">Завгородний</a></li>
                <li><a href="#about">Коля спасай!!!!!!!!!</a></li>
                <li><a href="">ddddddd</a></li>
                <li><a href="#ourJournal">Докторович</a></li>
                <li><a href="#Projects">Projects</a></li>
                <li><a href="#news">news</a></li>
                <li><a href="#features">help</a></li>
                <li><a href="#contact">olifirenko</a></li>
            </ul>
            <div class="hamburger-lines">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </div>
        </div>
    </nav>


</header>