@import 'base/*.scss';
@import 'global/*.scss';
@import '**/_*.scss';
@import '../components/**/*.scss';


// * {
//     margin: 0;
//     padding: 0;
    
// }
// body{
//     background-color: rgba($color: #000000, $alpha: 0.8);
//     margin: 0 auto;
// }
// .registration {
//     &_container{
//     margin: 0 auto;
//     display: flex;
//     flex-direction: column;
//     align-items: flex-start;
//     padding: 40px;
//     // justify-content: space-around;
//     width: 410px;
//     height: 825px;
//     background-color: #fff;
//     }
//     &_title {
//         text-align: center;
//         font-size: 30px;
//         padding-bottom: 20px;
//         font-family: Roboto;
//     }
//     &_subtitle{
//         color: #5E636E;
//         font-size: 13px;
//     }
//     &__form-container {
//         width: 100%;
//     }
//     &__form-fields{
//         padding-top: 10px;
//         display: flex;
//         flex-direction: column;
//         gap: 20px;
//     }
//     &__field-title{
//         margin-bottom: 5px;
//         color: #5E636E;
//         font-family: Roboto;
//         font-size: 15px;
//     }
//     &__field-input {
//         width: 100%;
//         height: 40px;
//         border-radius: 4px;
//     }
//     &__checkbox-block {
//         display: flex;
//         padding-top: 20px;
//         &--description {
//             padding-left: 10px;
//             font-size: 13px;
//         }
//     }
//     &__button {
//         margin-top: 40px;
//         margin-bottom: 20px;
//         background-color: #b4b5b7;
//         width: 100%;
//         border-radius: 2px;
//         height: 56px;
//         border: none;
//         color: #fff;
//         font-size: 18px;
//         font-weight: 500;
//     }
//     &__accept {
//        font-size: 15px; 
//        &-element {
//             color: #D02D27;
//        }
//     }
//     &__another-method {
//         margin: 20px auto;
//         &--title {
//             color: #5E636E;
//             font-size: 15px;
//             text-align: center;
//         }
//         &-block--button {
//             display: flex;
//             justify-content: center;
//             gap: 40px;
//             padding-top: 20px;
//         }
//         &--social {
//             width: 40px;
//             height: 40px;
//             border: none;
//             border-radius: 50%;
//             &__google {
//                 // background-image: url(../img/google.png); лоховська збірка галпа
//                 background-color: red;
//             }
//             &__facebook {
//                 // background-image: url(../img/facebook.png); лоховська збірка галпа
//                 background-color: blue;
//             }
//             &__apple {
//                 // background-image: url(../img/apple.png); лоховська збірка галпа
//                 background-color: lightgrey;
//             }
//         }
//     }
// }
// @media screen and ( max-width: 479px){
//     .registration_container {
//         width: 90%;
//     }
//     .registration__another-method-block--button {
//         flex-direction: column;
//     }
// }


// @media screen and (min-width: 768px){
//     // .registration_container {
//     //     width: 410px;
//     // }
// }

// // @media screen and (min-width: 1200px){
    
// // }

// // @media screen and (max-width: 1199px){
    
// // }

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.navbar {
  box-shadow: 0px 5px 10px 0px #aaa;
  position: fixed;
  width: 100%;
  background: #fff;
  color: #000;
  opacity: 0.85;
  height: 50px;
  z-index: 12;
  &-container {
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
  }
}

.menu-items {
  order: 2;
  display: flex;
  align-content: flex-start;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
  & li {
    list-style: none;
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
  }
  & a {
    text-decoration: none;
    color: #444;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
    :hover {
      color: #117964;
      transition: color 0.3s ease-in-out;
    }
  }
}

@media screen and (max-width: 767px){
  .navbar {
    box-shadow: none;
    &-container {
      height: max-content;
    }
  }
  .menu-items {
    display: none;
    flex-direction: column;
    background-color: #e3e3e3;
    // animation: moveOut 0.5s ease-in-out;

  }
  .navbar-container input[type="checkbox"] {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 32px;
    opacity: 0;
    z-index: 1;
  }
  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: flex;
  }
  .hamburger-lines {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50px;
    height: 32px;
    
    & .line{
      width: 50px;
      height: 4px;
      background-color: gray;
      display: block;
      transition: 0.5s all;
    }
  }
  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    display: flex;
    width: 40%;
    // margin: 0 auto;
    overflow: hidden;
    height: 250px;
    animation: move 0.5s ease-in-out;
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    display: none;
  }
  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg) translate(12px, 10px);
    background-color: blue;
  }
  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg) translate(8px, -9px);
    background-color: red;
  }

}

@keyframes move {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(-0);
  }
}
// @keyframes moveOut {
//   0% {
//     transform: translateY(0);
//   }
//   100% {
//     transform: translateY(-100%);
//   }
// }




